
@{
    ViewBag.Title = "DuplicateLN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-danger">นำเข้าไฟล์ Excel ไม่สำเร็จ</h2>

    <p><h3>ตรวจพบค่าซ้ำกัน(Duplicate) ของ "ข้อมูลรหัสLN" ที่จะนำเข้าระบบ</h3></p>
    <hr>
    <p><h3>[ Report ]</h3></p>
    <p><h4 class="text-danger">@TempData["Duplicate"]</h4></p>
    <hr>
    <a class="btn btn-primary" href="@Url.Action("ImportExcelFile","AdminPanel")">กลับไปหน้านำเข้า Excel</a>
</div>

