
@{
    ViewBag.Title = "ImportSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.setTimeout(function () {
        window.location.href = '@Url.Action("ImportExcelFile", "AdminPanel")';
    }, 10000);
</script>

<div class="container">
    <h2 class="text-success">นำเข้าไฟล์ Excel สำเร็จแล้ว</h2>

    <a class="btn btn-primary mt-3" href="@Url.Action("ImportExcelFile","Adminpanel")">ตกลง</a>
</div>