@{
    Layout = null;
}

<!DOCTYPE html>

<script type="text/javascript">
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Index","Home")';
    }, 3000);
</script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    ไม่พบหน้าเพจ 404  . . . .
    </div>
</body>
</html>

