
@{
    ViewBag.Title = "ผลแลป";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back-to-top"></div>


<div class="page-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb bg-transparent py-0 mb-5">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">หน้าหลัก</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("PatientLabSearch")">ตรวจสอบผลแลป</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("LabResultDate")">ผลตรวจที่พบ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ผลแลป</li>
                    </ol>
                </nav>
            </div>
        </div> <!-- .row -->

    </div>
</div>