
@{
    ViewBag.Title = "เปลี่ยนพาสเวิร์ด";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back-to-top"></div>

@*<div class="page-banner overlay-dark bg-image" style="background-image: url('@Url.Content("~/AssetsTheme/img/ImgWebsite/bg.jpg")');">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                    <li class="breadcrumb-item active" aria-current="page">เปลี่ยนพาสเวิร์ด</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">เปลี่ยนพาสเวิร์ด</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->*@

<div class="page-section">
    <div class="container">
        <div class="row">
            <h2 class="font-weight-bold">ยินดีต้อนรับ Admin กรุณาเลือกเมนูเพื่อทำรายการ</h2>
        </div>
        <div class="row mt-3">
            <a class="btn btn-outline-info" href="@Url.Action("ImportExcelFile","AdminPanel")">เพิ่มไฟล์ Excel เข้าระบบ</a> &nbsp; &nbsp;
            <a class="btn btn-info" href="#">เปลี่ยนรหัสผ่าน</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info" href="@Url.Action("ClearPdfFileTemp","Patient")">เคลียร์ไฟล์ PDF ชั่วคราวในเว็บไซต์</a>
        </div>
    </div>
    <hr />
</div>

<div class="page-section mt-3">
    <div class="container">
        <h3 class="text-center wow">เปลี่ยนรหัสผ่าน</h3>

        @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @class = "contact-form mt-5" }))
        {
        <div class="row mb-3">
            <div class="col-sm-12 py-2 wow">
                <label class="">รหัสผ่านเดิม</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" required autocomplete="off">
            </div>
            <div class="col-12 py-2 wow">
                <label class="text-primary">รหัสผ่านใหม่</label>
                <input type="password" id="password" name="password" class="form-control" required autocomplete="off">
            </div>
            <div class="col-12 py-2 wow">
                <label class="text-primary">ยืนยันรหัสผ่านใหม่</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required autocomplete="off">
            </div>
        </div>
            <div class="g-recaptcha mt-3" data-sitekey="6Lc2Yk4cAAAAABNkOJprKIS1bIcZAEkypaCxPibL"></div>
            <button id="btnChangePassword" type="submit" class="btn btn-primary btn-block wow  mt-3">ยืนยัน</button>
        }
    </div>
</div>

