<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <a class="h1 text-dark font-weight-bold">มีบางอย่างผิดปกติ... กำลังนำกลับไปหน้าหลัก</a>


    <script type="text/javascript">
    window.setTimeout(function () {
        window.location.href = '@Url.Action("Index","Home")';
    }, 1500);
    </script>
</body>
</html>