@{
    ViewBag.Title = "Zmedic Project";
}

<div class="back-to-top"></div>

<div class="page-section">
    <div class="container">
        <h1>สวัสดี  ยินดีต้อนรับสู่ หน้าหลัก . . . </h1>

        <h1>.</h1>

        <h1>..</h1>

        <h1>...</h1>

        <h1>....</h1>

        <h1>.....</h1>

        <h1>......</h1>

        <h1>.......</h1>

        <h1>........</h1>

        <h1>.........</h1>

        <h1>..........</h1>

        <h1>@DateTime.Now</h1>

    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <hr>
        <p id="copyright">Copyright &copy; 2021 Z-medic-Project</p>
    </div>
</footer>

